.calibre {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
}
.calibre2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  margin: 0%;
}
.calibre3 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
}
.calibre4 {
  display: block;
  line-height: 1.2;
  margin-bottom: 1.98%;
  margin-top: 0%;
  text-align: center;
}
.calibre5 {
  font-size: 0.875em;
  line-height: 1.2;
}
.calibre6 {
  display: block;
  margin-bottom: 0%;
  margin-top: 0%;
  text-align: center;
}
.calibre7 {
  font-size: 1.125em;
  line-height: 1.2;
}
.calibre8 {
  font-size: 1.125em;
  line-height: 1.2;
  text-decoration: none;
}
.calibre9 {
  display: block;
  margin-bottom: 0%;
  margin-top: 0%;
}
.calibre10 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0%;
  margin-top: 0%;
}
.calibre11 {
  display: block;
  line-height: 1.2;
  margin-bottom: 1.98%;
  margin-top: 0%;
}
.calibre12 {
  display: block;
  line-height: 1.2;
  margin-bottom: 1.98%;
  margin-top: 0%;
  text-align: justify;
}
.calibre13 {
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1.2;
}
.calibre14 {
  display: block;
  font-size: 0.875em;
  line-height: 1.2;
  margin-bottom: 1.98%;
  margin-top: 0%;
  text-align: center;
}
.calibre15 {
  height: 200px;
  line-height: 1.2;
  width: 252px;
}
.calibre16 {
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
}
.calibre17 {
  display: block;
  margin-bottom: 1.19%;
  margin-top: 1.19%;
  text-align: center;
}
.calibre18 {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.2;
}
.calibre19 {
  display: block;
  margin-bottom: 1.19%;
  margin-top: 1.19%;
  text-align: justify;
}
.calibre20 {
  font-size: 0.875em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
}
.calibre21 {
  font-size: 1em;
  line-height: 1.2;
}
.calibre22 {
  display: block;
  margin-bottom: 0.99%;
  margin-top: 0.99%;
}
.calibre23 {
  height: 193px;
  width: 261px;
}
.calibre24 {
  display: block;
  margin-bottom: 0%;
  margin-top: 0%;
  text-align: justify;
}
.calibre25 {
  height: 273px;
  width: 184px;
}
.calibre26 {
  height: 225px;
  width: 224px;
}
.calibre27 {
  height: 197px;
  width: 256px;
}
.calibre28 {
  height: 207px;
  width: 156px;
}
.calibre29 {
  height: 268px;
  width: 188px;
}
